<!-- <app-googlemap></app-googlemap> -->

<div class="table-container nav-margin-top header-color">
    <table mat-table [dataSource]="headerSource" class="mat-elevation-z8">
        <!-- Define columns -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="header-padding header-color" > No. </th>
          <td mat-cell *matCellDef="let element"  class="cell-padding"> {{element.position}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> Name </th>
          <td mat-cell *matCellDef="let element"  class="cell-padding"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> View </th>
            <td mat-cell *matCellDef="let element" class="cell-padding">
                <button mat-icon-button style="color: green;"(click)="onButtonClick(element,'view')">View</button>
            </td>
        </ng-container>
    
        <!-- Header and row definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedHeaders;"></tr>
      </table>
    </div>


<div class="table-container nav-margin-top" *ngIf="isEnableAvailRides">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Define columns -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="header-padding header-color" > No. </th>
      <td mat-cell *matCellDef="let element"  class="cell-padding"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> Name </th>
      <td mat-cell *matCellDef="let element"  class="cell-padding"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> Mobile </th>
      <td mat-cell *matCellDef="let element" class="cell-padding"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> Source </th>
        <td mat-cell *matCellDef="let element" class="cell-padding"> {{element.source}} </td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> Destination </th>
        <td mat-cell *matCellDef="let element" class="cell-padding"> {{element.destination}} </td>
      </ng-container>

      <ng-container matColumnDef="map">
        <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> View Map </th>
        <td mat-cell *matCellDef="let element" class="cell-padding">
            <button mat-icon-button style="color: green;"(click)="openMap(element)">View Map</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="accept">
        <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> Accept </th>
        <td mat-cell *matCellDef="let element" class="cell-padding">
            <button mat-icon-button style="color: green;"(click)="onButtonClick(element,'accept')">Accept</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="reject">
        <th mat-header-cell *matHeaderCellDef class="header-padding header-color"> Reject </th>
        <td mat-cell *matCellDef="let element" class="cell-padding">
            <button mat-icon-button style="color: red;" (click)="onButtonClick(element,'reject')">Reject</button>
        </td>
    </ng-container>
  
      

    <!-- Header and row definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="custom-card" *ngIf="totalCommission">
    <div class="custom-card-header">
        Total Commissions Earned
    </div>
    <div class="custom-card-content">
        1000
    </div>
</div>
  
<div class="custom-card" *ngIf="totalrides">
    <div class="custom-card-header">
        Total Rides Completed
    </div>
    <div class="custom-card-content">
        5 Rides Completed Today <br>
        160 Rides Completed this Month
    </div>
</div>
  


  