.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    justify-content: center;
    
  }

  .table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1500px; /* Increased max width */
    padding: 105px; /* Increased padding */
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #007bff;
  }
  .primary-heading {
    font-weight: bold;
    color: #000000; /* Primary color */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-size: 35px;
    margin-top: 45px;
  }
  .cell-padding {
    padding: 24px; /* Adjust the value as needed */
  }

  .header-padding {
    padding: 18px; /* Adjust the value as needed */
  }
  .nav-margin-top {
    margin-top: 50px; /* Adjust the value as needed */
  }
  .header-color {
    color: #3f51b5; /* Primary color hex value */
  }

  .table-padding {
    padding: 40px;
  }

  .custom-card {
    border: 6px solid #7facdd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 49px;
    margin: 104px;
    background-color: #fff;
  }
  
  .custom-card-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .custom-card-content {
    color: #3f51b5;
  }
  
  
  